<div id="container"></div>
<div style="float: left">
    <h2><%= link_to "What am I Looking At?", about_path, :style => "color: #000; text-decoration: none;" -%></h2>
</div>
<div style="float: right">
<h3>Created by <a href="http://bradhubbard.net" style="color: #000; text-decoration: none;">Brad Hubbard</a></h3>
</div>

<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: "Who's Winning CES 2014 Coverage?"
        },
        subtitle: {
            text: 'Source: DataSift.com'
        },
        xAxis: {
            categories: <%= raw @leader_names -%>,
            title: {
                text: "Website"
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of mentions (Twitter, Facebook, Reddit)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' mentions',
            pointFormat: '{point.y}'
            
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            showInLegend: false,
            data: <%= @series -%>
        }]
    });
    });
    

</script>